# Project exclude paths
/Parallel Programming in Java/miniproject_0/target/
/Parallel Programming in Java/miniproject_1/target/
/Parallel Programming in Java/miniproject_2/target/
/Parallel Programming in Java/miniproject_3/target/